@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

body {
    font-family: 'Poppins', sans-serif;
}

/* hazır kodlarım */

.container {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}